*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
    
}.result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    place-items: center;
    
}
img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: aqua;
   
}
#card{    
   margin: 2rem;
   font-size: smaller;
   justify-content: center;
}
.rectangle{
    display: flex;
    border: 1px solid white;
    height: fit-content;
    gap: 1rem;
    padding:2rem;
    margin:2rem;
    justify-content: space-between;
}
#box-search{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.title{
      padding:1rem;
      border-bottom: 1px solid white;

}
.sec2{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.btn{
    background-color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem;
}
.heading{
    padding:1rem;
   
}
.homebtn{
    margin: 1rem;
}
form{
    padding: 1rem 1rem;
}
#search{
    width:98vw;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    color:white;
    background-color: black;
   
}
#interesting{
    font-size: 2rem;
    margin:1rem;
}
#submit{
    margin-top: 1rem;
}
#view{
    margin:1rem;
}
#box{
    height:35rem;
    width:20rem;
    margin-bottom:3rem ;       
    font-size: smaller;
    border: 1px solid white;
    border-radius: 1rem;
    justify-content: center;
}
#box-search{
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
#history-box{
    height:35rem;
    width:20rem;
    margin-bottom:3rem ;       
    font-size: smaller;
    border: 1px solid white;
    border-radius: 1rem;
    justify-content: center;
    line-height:2rem;
}

@media screen and (max-width:600px){
    .result{
        display: grid;
        grid-template-columns: 1fr; 
        gap:2rem;
        margin: 1rem;
    }
    
#card{
    height:fit-content;
    width:auto;
    line-height: 1.7;       
    font-size: smaller;    
   
}
#search{
    width:90vw;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    color:white;
    background-color: black;
    margin-right:1rem;
   
}
#box{
   height: fit-content;
}

#box-search{
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: 1fr;
}
#history-box{
    height:fit-content;
    width:90vw;
    margin-bottom:3rem ;       
    font-size: smaller;
    border: 1px solid white;
    border-radius: 1rem;
    justify-content: center;
    line-height:2rem;
}

}

@media screen and (min-width:600px) and (max-width:920px){
    .result{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap:2rem;
        margin: 1rem;
    }
    
#card{
    height:fit-content;
    width:auto;
    line-height: 1.7;       
    font-size: smaller;    
    border-radius: 1rem;
  
}
#box-search{
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
#history-box{
    height:fit-content;
    width:90vw;
    margin-bottom:3rem ;       
    font-size: smaller;
    border: 1px solid white;
    border-radius: 1rem;
    justify-content: center;
    line-height:2rem;
}
#search{
    width:93vw;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    color:white;
    background-color: black;
    margin-right:1rem;
   
}
#box{
   height: fit-content;
}
}